<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.AnswerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Answer" id="answerMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="periodId" column="period_id"/>
        <result property="studentId" column="student_id"/>
        <result property="askId" column="ask_id"/>
        <result property="appendAsk" column="append_ask"/>
        <result property="appendAttach" column="append_attach"/>
        <result property="answer" column="answer"/>
        <result property="answerAttach" column="answer_attach"/>
        <result property="type" column="type"/>
        <result property="time" column="time"/>
    </resultMap>
    <!--学生端-个人中心-首页-课程答疑-->
    <select id="selectMyIndexCourseAnswer" resultType="com.qht.model.MyIndexCourseAnswerModel" parameterType="com.qht.model.MyIndexCourseAnswerParam">
        select
        an.answer_file_name,an.answer_time,an.answer,an.answer_file_url,an.uid,
        ask.question,ask.question_attach,ask.question_url,
        p.video_file,p.begin,p.name,
        c.name as chapter_name,
        cp.pkg_name,
        t.nickname as teacher_nickname,
        s.nickname
        from answer an inner join course_ask ask on an.ask_id=ask.uid
        inner join period p on an.period_id=p.uid
        inner join chapter c on p.chapter_id=c.uid
        inner join course_pkg cp on c.course_id=cp.uid
        inner join teacher t on cp.teacher_id=t.uid
        inner join student s on an.student_id=s.uid
        where an.student_id=#{uid} and an.tenant_id=#{tenant_id} and cp.status="1"
        <if test="answer != '' and answer!=null">
            <if test="answer=='1'">
                and an.type=1
            </if>
            <if test="answer=='2'">
                and an.type=2
            </if>
        </if>
    </select>

    <!--app我的课程答疑-->
    <select id="selectIndexMyAnswer" resultType="com.qht.model.IndexMyAnswerModel">
        select  a.uid,a.type,ask.question,p.name,cp.cover
        from answer a
        inner join course_ask ask on a.ask_id=ask.uid
        inner join period p on p.uid=a.period_id
        inner join chapter c on c.uid=p.chapter_id
        inner join course_pkg cp on c.course_id=cp.uid
        where a.student_id=#{uid} and a.tenant_id=#{tenant_id} and cp.status="1"
    </select>

    <!--app我的课程答疑答疑详情-->
    <select id="selectIndexAnswerDetails" resultType="com.qht.model.IndexAnswerDetailsModel">
        select
        a.answer_time,
        a.answer_file_url,
        a.type,
        a.uid,
        t.uid as teacher_id,
        a.answer,
        a.append_ask_answer,
        a.append_ask,
        a.time,
        a.praise_number,
        a.is_exceptional,
        ask.question,
        ask.question_url,
        p.name as period_name,
        cp.cover,
        cp.pkg_name,
        t.name as teacher_name,
        t.back_img,
        s.school_name,
        ps.name as subject_name,
        st.head,
        st.name as student_name
        from answer a
        inner join course_ask ask on a.ask_id=ask.uid
        inner join period p on p.uid=a.period_id
        inner join chapter c on c.uid=p.chapter_id
        inner join course_pkg cp on cp.uid=c.course_id
        inner join teacher t on t.uid=cp.teacher_id
        inner join school s on t.school_id=s.uid
        inner join pkg_subject ps on cp.pkg_subject_id=ps.uid
        inner join student st on st.uid=a.student_id
        where a.uid=#{uid} and a.tenant_id=#{tenant_id} and cp.status="1"
    </select>

    <!--我的课程答疑答疑详情追问回答-->
    <update id="indsertAppendAskAnswer" parameterType="com.qht.model.IndexAnswerDetailsAppendAnswerParam">
        update answer set append_ask_answer=#{append_ask_answer} where tenant_id=#{tenant_id} and uid=#{uid}
    </update>

    <!-- 教师端首页课程答疑列表 -->
    <select id="selectIndexCourseAnswer" parameterType="com.qht.model.IndexCourseAnswerParam" resultType="com.qht.model.IndexCourseAnswerModel">
        select
        a.answer_file_name,
        a.answer_time,
        ca.question,
        c.name as chapter_name,
        p.video_file,
        a.answer_file_url,
        ca.question_attach,
        s.head,
        a.uid,
        cp.pkg_name,
        ca.question_url,
        a.answer,
        s.nickname,
        p.name,
        p.begin,
        t.nickname as teacher_nickname
        from answer a
        left join course_ask ca on a.ask_id=ca.uid
        left join period p on p.uid=a.period_id
        left join chapter c on c.uid=p.chapter_id
        left join course_pkg cp on cp.uid=c.course_id
        left join student s on s.uid=a.student_id
        left join teacher t on t.uid=cp.teacher_id
        where
        t.uid=#{uid} and a.tenant_id=#{tenant_id} and cp.status="1"
        <if test="answer!=null and answer!=''">
            <if test="answer=='1'">
                and a.type=1
            </if>
            <if test="answer=='2'">
                and a.type=2
            </if>
        </if>
    </select>
    <!-- 老师答疑列表 -->
    <select id="appSelectAnwerList" resultType="com.qht.model.AppSelectAnwerListModel" parameterType="com.qht.model.UidAndTenantIDParam">
    SELECT
	s.head AS head,
	ar.uid AS uid,
	ck.question AS question,
	ar.answer AS answer,
	s.nickname AS nickname,
	pt.`name` AS subject_name,
	ar.type AS type
FROM
	student s
LEFT JOIN answer ar ON s.uid = ar.student_id
LEFT JOIN course_ask ck ON ar.ask_id = ck.uid
LEFT JOIN buy_record bd ON s.uid = bd.student_id
LEFT JOIN course_pkg cg ON bd.course_pkg_id = cg.uid
LEFT JOIN pkg_subject pt ON cg.pkg_subject_id = pt.uid
where cg.teacher_id =#{uid}  and  cg.tenant_id=#{tenant_id} 
<if test="type!=null and type!=''">
and ar.type=#{type}
</if>
    </select>
    <!-- app学生答疑追问 -->
    <select id="appUpdateStudentAnswer" parameterType="com.qht.model.UidAndTenantIDParam">
    	update answer set append_ask=#{append_ask} where uid=#{uid} tenant_id=#{tenant_id}
    </select>
    <!-- app教室追答 -->
    <update id="appUpdateTeacherAnswer" parameterType="com.qht.model.UidAndTenantIDParam">
    update answer set append_ask_answer=#{append_ask_answer} where uid=#{uid} tenant_id=#{tenant_id}
    </update>
    <!-- 第一次App老师答疑回复 -->
    <insert id="appInsertTeacherAnser" parameterType="com.qht.model.AppInsertTeacherAnswerParam">
    INSERT INTO answer (
	uid,
	tenant_id,
	student_id,
	ask_id,
	append_attach,
	answer,
	answer_file_name,
	type,
	time,
	answer_time,
	answer_file_url
)
VALUES
(
	#{uid},
	#{tenant_id},
	#{student_id},
	#{ask_id},
	#{append_attach},
	#{answer},
	#{answer_file_name},
	#{type},
	#{time},
	#{answer_time},
	#{answer_file_url}
)
    </insert>
</mapper>