<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.ChapterMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Chapter" id="chapterMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="name" column="name"/>
    </resultMap>
    <!-- app添加章节 -->
    <insert id="appInsertChapter" parameterType="com.qht.model.AppInsertChapterParam">
    INSERT INTO chapter (
	uid,
	tenant_id,
	NAME,
	course_id
	)
	VALUES
		(#{uid}, #{tenant_id},#{chapter_name},#{course_id})
    </insert>

</mapper>