<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.ClassroomMembersMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.ClassroomMembers" id="classroomMembersMap">
        <result property="uid" column="uid"/>
        <result property="nickname" column="nickname"/>
        <result property="mic" column="mic"/>
        <result property="studentId" column="student_id"/>
        <result property="camera" column="camera"/>
        <result property="status" column="status"/>
        <result property="classroomId" column="classroom_id"/>
    </resultMap>

</mapper>