<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.CoursePkgMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.CoursePkg" id="coursePkgMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="pktTypeId" column="pkt_type_id"/>
        <result property="pkgSubjectId" column="pkg_subject_id"/>
        <result property="pkgEditionId" column="pkg_edition_id"/>
        <result property="pkgGradeId" column="pkg_grade_id"/>
        <result property="pkgName" column="pkg_name"/>
        <result property="playTypeId" column="play_type_id"/>
        <result property="min" column="min"/>
        <result property="max" column="max"/>
        <result property="open rangeId" column="open_ range_id"/>
        <result property="content" column="content"/>
        <result property="cover" column="cover"/>
    </resultMap>
    <select id="courseTypeList" resultType="com.qht.model.CoursePkgListModel" parameterType="com.qht.model.UidAndTenantIDParam">
    	select uid ,name   from course_type where tenant_id=#{tenant_id}
    </select>
    <!-- app添加直播课程包 -->
    <insert id="indexAddLCourse" parameterType="com.qht.model.InsertCoursePkgParam" >
    INSERT INTO course_pkg (
	uid,
	teacher_id,
	tenant_id,
	course_type_id,
	pkg_subject_id,
	pkg_edition_id,
	pkg_grade_id,
	pkg_level_id,
	pkg_name,
	play_type_id,
	min,
	max,
	content,
	cover,
	pkt_type_id,
	open_range_id,
	easy,
	`status`,
	creat_time
)
VALUES
	(
		#{uid},
		#{teacher_id},
		#{tenant_id},
		#{course_type_id},
		#{pkg_subject_id},
		#{pkg_edition_id},
		#{pkg_grade_id},
		#{pkg_level_id},
		#{pkg_name},
		#{play_type_id},
		#{min},
		#{max},
		#{content},
		#{cover},
		#{pkt_type_id},
		#{open_range_id},
		#{easy},
		#{status},
		#{creat_time}
	)
    </insert>
    <!-- 修改课程包 -->
	<update id="appUpdateCoursePkgByid" parameterType="com.qht.model.InsertCoursePkgParam">
		update course_pkg 
	set	teacher_id=#{teacher_id},
	set tenant_id=#{tenant_id},
	set course_type_id=#{course_type_id},
	set pkg_subject_id=#{pkg_subject_id},
	set pkg_edition_id=#{pkg_edition_id},
	set pkg_grade_id=#{pkg_grade_id},
	set pkg_level_id=#{pkg_level_id},
	set pkg_name=#{pkg_name},
	set play_type_id=#{play_type_id},
	set min=#{min},
	set max=#{max},
	set content=#{content},
	set cover=#{cover}
	where uid=#{uid}
	</update>
</mapper>