<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.CoursePkgMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.CoursePkg" id="coursePkgMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="pktTypeId" column="pkt_type_id"/>
        <result property="pkgSubjectId" column="pkg_subject_id"/>
        <result property="pkgEditionId" column="pkg_edition_id"/>
        <result property="pkgGradeId" column="pkg_grade_id"/>
        <result property="pkgName" column="pkg_name"/>
        <result property="playTypeId" column="play_type_id"/>
        <result property="min" column="min"/>
        <result property="max" column="max"/>
        <result property="open rangeId" column="open_ range_id"/>
        <result property="content" column="content"/>
        <result property="cover" column="cover"/>
    </resultMap>
    <select id="courseTypeList" resultType="com.qht.model.CoursePkgListModel" parameterType="com.qht.model.UidAndTenantIDParam">
    	select uid ,name   from course_type where tenant_id=#{tenant_id}
    </select>
    <!-- app添加直播课程包 -->
    <insert id="indexAddLCourse" parameterType="com.qht.model.InsertCoursePkgParam" >
    INSERT INTO course_pkg (
	uid,
	teacher_id,
	tenant_id,
	course_type_id,
	pkg_subject_id,
	pkg_edition_id,
	pkg_grade_id,
	pkg_level_id,
	pkg_name,
	play_type_id,
	min,
	max,
	content,
	cover,
	pkt_type_id,
	open_range_id,
	easy,
	`status`,
	creat_time
)
VALUES
	(
		#{uid},
		#{teacher_id},
		#{tenant_id},
		#{course_type_id},
		#{pkg_subject_id},
		#{pkg_edition_id},
		#{pkg_grade_id},
		#{pkg_level_id},
		#{pkg_name},
		#{play_type_id},
		#{min},
		#{max},
		#{content},
		#{cover},
		#{pkt_type_id},
		#{open_range_id},
		#{easy},
		#{status},
		#{create_time}
	)
    </insert>
    <!-- 修改课程包 -->
	<update id="appUpdateCoursePkgByid" parameterType="com.qht.model.InsertCoursePkgParam">
		update course_pkg 
	set	teacher_id=#{teacher_id},
	set tenant_id=#{tenant_id},
	set course_type_id=#{course_type_id},
	set pkg_subject_id=#{pkg_subject_id},
	set pkg_edition_id=#{pkg_edition_id},
	set pkg_grade_id=#{pkg_grade_id},
	set pkg_level_id=#{pkg_level_id},
	set pkg_name=#{pkg_name},
	set play_type_id=#{play_type_id},
	set min=#{min},
	set max=#{max},
	set content=#{content},
	set cover=#{cover}
	where uid=#{uid}
	</update>
    
    <!-- 教师|端首页-我的课程-详情介绍 -->
    <select id="selectIndexMyCourseDetails" parameterType="com.qht.model.UidAndTenantIDParam" resultType="com.qht.model.IndexMyCourseDetailsModel">
    	select p.uid,cp.play_type_id,p.name,p.video_file,p.begin,cp.content 
    	from course_pkg cp left join chapter c on c.course_id=cp.uid 
    	left join period p on p.chapter_id=c.uid 
    	where cp.uid=#{uid} and tenant_id=#{tenant_id} cp.and status="1"
    </select>
    <resultMap id="selectCourseChapterAndPeriod" type="com.qht.model.CourseChapterModel">
    	<result property="uid" column="uid"/>
    	<result property="name" column="name"/>
    	<collection property="period" ofType="com.qht.model.ClassModel">
            <result property="pid" column="pid"/>
            <result property="period_name" column="period_name"/>
            <result property="video_file" column="video_file"/>
            <result property="begin" column="begin"/>
        </collection>
    </resultMap>
    <!-- 课程详情-课程包体系y -->
    <select id="selectCourseChapter" parameterType="com.qht.model.UidAndTenantIDParam" >
    	select 
    	c.uid,c.name,p.name as period_name,p.uid as pid,p.video_file,p.begin 
    	from course_pkg cp 
    	inner join chapter c on cp.uid=c.course_id 
    	inner join period p on p.chapter_id=c.uid 
    	where cp.uid=#{uid} and cp.tenant_id=#{tenant_id} and cp.status="1"
    </select>
    <!-- 课程包章节课时信息resultMap1 -->
    <resultMap type="com.qht.model.SelectPkgModel" id="pkg">
	    <id column="uid" property="uid"/>
	    <result column="pkg_name" property="pkg_name"/>
	     <result column="play_type_id" property="play_type_id"/>
	    <collection property="chapter" javaType="com.qht.model.SelectChModel" resultMap="ch" >
	    </collection>
    </resultMap>
      <!-- 课程包章节课时信息resultMap2 -->
     <resultMap type="com.qht.model.SelectChModel" id="ch">
	    <id column="c_id" property="c_id"/>
	    <result column="name" property="name"/>
	    <collection property="period" javaType="com.qht.model.SelectPerModel" resultMap="per" >
	    </collection>
    </resultMap>
      <!-- 课程包章节课时信息resultMap3 -->
    <resultMap type="com.qht.model.SelectPerModel" id="per">
	    <id column="pid" property="pid"/>
	    <result column="period_name" property="period_name"/>
	  	<result column="video_file" property="video_file"/> 	
	  	<result column="begin" property="begin"/> 
    </resultMap>
      
    <!-- 课程包章节课时信息 -->
    <select id="selectPkgChPer" resultMap="pkg" parameterType="com.qht.model.UidAndTenantIDParam">
       	SELECT
			c.uid AS uid,
			c.play_type_id,
			c.pkg_name AS pkg_name,
			cr.uid AS c_id,
			cr.`name` AS name,
			p.uid AS pid,
			p.`name` AS period_name,
			p.video_file,
			p.`begin`
		FROM
			course_pkg c
		LEFT   JOIN teacher t on c.uid=c.teacher_id
		left   JOIN chapter cr ON   c.uid=cr.course_id
		left JOIN period p ON p.chapter_id = cr.uid
		where c.tenant_id=#{tenant_id}   and c.teacher_id=#{uid} and c.status="1"
    </select>


	<resultMap id="selectCourseAndChapterAndPeriod" type="com.qht.model.IndexMyCourseEditChapterAndPeriodModel">
		<result property="uid" column="uid"/>
		<result property="pkg_name" column="pkg_name"/>
		<result property="content" column="content"/>
		<result property="create_time" column="create_time"/>
		<result property="cover" column="cover"/>
		<collection property="chapter" ofType="com.qht.model.ChapterModel">
			<result property="chapter_id" column="chapter_id"/>
			<result property="chapter_name" column="chapter_name"/>
			<collection property="period" ofType="com.qht.model.PeriodModel">
				<result property="period_name" column="period_name"/>
				<result property="period_id" column="period_id"/>
				<result property="begin" column="begin"/>
				<result property="video_file" column="video_file"/>
				<result property="time_length" column="time_length"/>
			</collection>
		</collection>
	</resultMap>
	<select id="selectIndexMyCourseEditChapterAndPeriodModel" resultMap="selectCourseAndChapterAndPeriod">
		select cp.uid,cp.pkg_name,cp.content,cp.create_time,cp.cover,c.uid as chapter_id,c.name as chapter_name,
		p.name as period_name,p.uid as period_id,p.begin,p.video_file,p.time_length from course_pkg cp inner join chapter c on c.course_id=cp.uid
		inner join period p on p.chapter_id=c.uid
		where cp.uid=#{uid} and cp.tenant_id=#{tenant_id} where cp.status="1"
	</select>
	<!-- 学生id查询课程包信息 -->
	<select id="selectPkgByStuId" resultType="com.qht.model.SelectPkgByStuIdModel" parameterType="com.qht.model.UidAndTenantIDParam">
SELECT
	c.cover,
	c.uid,
	c.pkg_name,
	c.play_type_id,
	c.total_price,
	c.apply_number,
SUM(pn.praise_number) as praise_number,
AVG(pn.comments_star) as comments_star
FROM
	course_pkg c
LEFT JOIN period_evaluation pn on c.uid=pn.course_id
LEFT JOIN buy_record bd on c.uid=bd.course_pkg_id
LEFT JOIN student s on bd.student_id=s.uid
where s.uid=#{uid}  and  s.tenant_id=#{tenant_id} and   c.play_type_id=#{play_type_id} and c.status="1"
GROUP BY c.uid

	</select>
		<!-- 课程包体系Map1 -->
	<resultMap type="com.qht.model.SelectChaModel" id="chMap">
		<id column="uid" property="uid"/>
		<result column="name" property="name"/>
		<collection property="period" javaType="com.qht.model.SelectPerModel" resultMap="per">
		</collection>
	</resultMap>
	<!-- 课程包体系 -->
	<select id="selectCourseChapterByCuId"  resultMap="chMap" parameterType="com.qht.model.UidAndTenantIDParam">
			SELECT
				ch.uid AS uid,
				ch.`name` AS name,
				p.`name` AS period_name,
				p.uid AS pid,
				p.video_file AS video_file,
				p.`begin` AS `begin`
			FROM
				chapter ch
			LEFT JOIN period p ON ch.uid = p.chapter_id
			LEFT JOIN course_pkg cp ON ch.course_id=cp.uid
			where cp.uid=#{uid} and cp.tenant_id=#{tenant_id} and cp.status="1"

	</select>
</mapper>