<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.OpenRangeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.OpenRange" id="openRangeMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="name" column="name"/>
    </resultMap>
    <!-- 所有范围 -->
	<select id="selectOpenRangeAll" resultType="com.qht.model.SelectOpenRangeAllModel" parameterType="com.qht.model.UidAndTenantIDParam">
		select uid ,name from open_range where tenant_id=#{tenant_id}
	</select>
</mapper>