<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.PeriodMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Period" id="periodMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="name" column="name"/>
        <result property="videoFile" column="video_file"/>
        <result property="begin" column="begin"/>
        <result property="over" column="over"/>
    </resultMap>
    
    <select id="indexMycourseTable" resultType="com.qht.model.IndexMyCourseTableModel" parameterType="com.qht.model.IndexMyCourseTableParam">
    SELECT
	pd.uid AS uid,
	cg.pkg_name AS pkg_name,
	pd.`name` AS `name`,
	cr.`name` AS chapter_name,
	pd.video_file AS video_file,
	pd.`begin` AS `begin`


FROM
	period pd
left JOIN chapter cr ON pd.chapter_id = cr.uid
left JOIN course_pkg cg ON cr.course_id = cg.uid
left JOIN buy_record brd ON cg.uid = brd.course_pkg_id
left JOIN student st ON brd.student_id = st.uid
WHERE
	st.uid = #{uid} 
	and st.tenant_id=#{tenant_id}  and cg.status="1"
	<if test="play_type_id!=null and play_type_id!=''">
	and cg.play_type_id=#{play_type_id}
	</if>
	
    </select>
    <!-- 通过章节id查课时 -->
<select id="selectPeriodByid" resultType="com.qht.model.CourseChapterModel" parameterType="com.qht.model.UidAndTenantIDParam">
	SELECT
		p.uid,
		p.`name`
	FROM
		period p
	LEFT JOIN  chapter c  on c.uid=p.chapter_id
	WHERE
		 c .uid = #{uid} 
	and  c .tenant_id =#{tenant_id}

</select>
<!-- 添加课时 -->
<insert id="insertPerIod" parameterType="com.qht.model.AppInsertPerIodParam">
INSERT INTO `period` (
	uid
	,tenant_id
	,`name`
	,video_file
	<if test="begin!=null">
	,`begin`
	</if>
	<if test="over!=null">
	,`over`
	</if>
	,chapter_id
	,effective_time
	<if test="time_length!=null">
	,time_length
	</if>
)
VALUES
	(
		#{uid}
		,#{tenant_id}
		,#{name}
		,#{video_file}
		<if test="begin!=null">
		,#{begin}
		</if>
		<if test="over!=null">
		,#{over}
		</if>
		,#{chapter_id}
		,#{effective_time}
		<if test="time_length!=null">
		,#{time_length}
		</if>
		
	);
</insert>
<!-- 根据老师id查询所有课时 -->
<select id="selectPeriodByTeachId" resultType="com.qht.model.SelectPeriodByTeacherIdModel" parameterType="com.qht.model.UidAndTenantIDParam">
SELECT
	p.uid,
	cg.pkg_name,
	p.`name`,
	cer.`name` AS chapter_name,
	p.`begin`,
	p.video_file
FROM
	period p
LEFT JOIN chapter cer ON p.chapter_id = cer.uid
LEFT JOIN course_pkg cg ON cer.course_id = cg.uid
LEFT JOIN teacher t ON cg.teacher_id = t.uid
where t.uid=#{uid} and t.tenant_id=#{tenant_id}
 <if test="play_type_id!=null and play_type_id!=''">
  and cg.play_type_id=#{play_type_id}
 </if>
 order by p.`begin`
</select>
<!-- 根据课时id查看详情 -->
<select id="selectPeriodDetails" resultType="com.qht.model.PeriodDetailsModel" parameterType="com.qht.model.UidAndTenantIDParam">
SELECT
p.uid,
cg.play_type_id,
p.`name`,
p.video_file,
p.`begin`,
p.over,
p.time_length,
cg.content
FROM
	period p
LEFT JOIN chapter cer on p.chapter_id=cer.uid
LEFT JOIN course_pkg cg on cer.course_id=cg.uid
where p.uid=#{uid} and p.tenant_id =#{tenant_id} and cg.status="1"
</select>
</mapper>