<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.PeriodMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Period" id="periodMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="name" column="name"/>
        <result property="videoFile" column="video_file"/>
        <result property="begin" column="begin"/>
        <result property="over" column="over"/>
    </resultMap>
    
    <select id="indexMycourseTable" resultType="com.qht.model.IndexMyCourseTableModel" parameterType="com.qht.model.IndexMyCourseTableParam">
    SELECT
	pd.uid AS uid,
	cg.pkg_name AS pkg_name,
	pd.`name` AS `name`,
	cr.`name` AS chapter_name,
	pd.video_file AS video_file,
	pd.`begin` AS `begin`


FROM
	period pd
INNER JOIN chapter cr ON pd.chapter_id = cr.uid
INNER JOIN course_pkg cg ON cr.course_id = cg.uid
INNER JOIN buy_record brd ON cg.uid = brd.course_pkg_id
INNER JOIN student st ON brd.student_id = st.uid
WHERE
	st.uid = #{uid} 
	and st.tenant_id=#{tenant_id} 
	<if test="play_type_id!=null and play_type_id!=''">
	and cg.play_type_id=#{play_type_id}
	</if>
	
    </select>

</mapper>