<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.StudentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Student" id="studentMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="head" column="head"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="school" column="school"/>
        <result property="clazz" column="clazz"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>

    <!--登陆查询学生信息-->
    <select id="studentLogin" resultType="com.qht.dto.StudentDto">
        select uid,nickname,tenant_id as tenantId,schoolid from student where account=#{account} and password=#{password}
    </select>
    <!--查询banner-->
    <select id="selectBanner" resultType="com.qht.dto.BannerDto">
        select uid,image,link,sort from banner where tenantId=#{tenantId} type=#{type}
    </select>
    <!--查询首页直播课程信息-->
    <select id="selectLiveClass" resultType="com.qht.dto.LiveClassDto" parameterType="java.lang.String">
        select
          cp.cover,
          p.uid,
          p.name,
          p.video_file,
          p.begin,
          pl.name as level_name
        from course_pkg cp
        inner join period p
        on cp.tenant_id=p.tenant_id
        inner join pkg_level pl
        on cp.pkg_level_id=pl.uid
        where
          cp.play_type_id="1"
        and
          p.tenant_id=#{tenantId}
    </select>

    <sql id="selectClassMessageFromCourse_PKG">
         select
          cp.cover,
          cp.uid,
          cp.pkg_name,
          cp.play_type_id,
          t.nickname,
          pl.name as level_name
        from course_pkg cp
        inner join teacher t on cp.teacher_id=t.uid
        inner join pkg_level pl on cp.pkg_level_id=pl.uid
    </sql>
    <!--首页查询免费课程-->
    <select id="selectFreeClass" resultType="com.qht.dto.FreeClassDto" parameterType="com.qht.dto.FreeClassParameter">
        <include refid="selectClassMessageFromCourse_PKG"/>
        where course_pkg.tenant_id=#{tenantId} and course_pkg.pkt_type_id="1"
        <if test="pkg_subject_id=='' and pkg_subject_id==null">
            and course_pkg.pkg_subject_id='1'
        </if>
        <if test="pkg_subject_id!='' and pkg_subject_id!=null">
            and course_pkg.pkg_subject_id=#{pkg_subject_id}
        </if>
        <if test="pkg_grade_id=='' and pkg_grade_id==null">
            and course_pkg.pkg_grade_id='1'
        </if>
        <if test="pkg_grade_id!=null and pkg_grade_id!=''">
            and course_pkg.pkg_grade_id=${pkg_grade_id}
        </if>

    </select>
    <!--查询首页试听课程排行榜-->
    <select id="selectListeningClassRanking" resultType="com.qht.dto.ListeningClassRankingDto" parameterType="java.lang.String">
        <include refid="selectClassMessageFromCourse_PKG"/>
        where
        course_pkg.tenant_id=#{tenantId} and course_pkg.pkt_type_id="2"
    </select>
    <!--查询首页试听课程列表-->
    <select id="selectListeningClassList" resultType="com.qht.dto.ListeningClassListDto" parameterType="java.lang.String">
        <include refid="selectClassMessageFromCourse_PKG"/>
        where
        course_pkg.tenant_id=#{tenantId} and course_pkg.pkt_type_id="2"
    </select>
    <!--查询首页老师排行榜-->
    <select id="selectTeacherRanking" resultType="com.qht.dto.TeacherRankingDto" parameterType="java.lang.String">
        select
          school.school_name,
          teacher.nickname
        from
          teacher inner join school
        on
          teacher.school_id=school.uid
        where tenant_id=#{tenantId}
    </select>
    <!--查询首页老师集合-->
    <select id="selectTeacherList" resultType="com.qht.dto.TeacherListDto" parameterType="java.lang.String">
       select
        a.intr,a.integral,a.sex,a.nickname,a.back_img,a.school_name,b.pkg_count
      from
	    (select t.intr,t.integral,t.sex,t.nickname,t.back_img,s.school_name from teacher t inner join school s on t.school_id=s.uid where t.tenant_id=#{tenantId})as a ,
	    (select count(course_pkg.uid) as pkg_count from course_pkg where tenant_id=#{tenantId})as b
    </select>

    <!--查询学生课程详情-课程包简介-->
    <select id="selectCourseIntro" resultType="com.qht.dto.CourseIntroDto">
       select
        cp.cover,
        cp.uid,
        cp.pkg_name,
        cp.total_price,
        cp.content,
        cp.apply_number,
        t.nickname,
        ps.name as subject_name ,
		pg.name as grade_name,
		per.begin
        from
          course_pkg cp inner join teacher t on cp.teacher_id=t.uid
          inner join pkg_subject ps on cp.pkg_subject_id=ps.uid
		  inner join pkg_grade pg on cp.pkg_grade_id=pg.uid
		  inner join chapter ch on cp.uid=ch.course_id
		  inner join period per on ch.uid=per.chapter_id
		where cp.uid=#{uid} and cp.tenant_id=#{tenantId}
    </select>

    <resultMap id="selectCourseChapterAndClass" type="com.qht.dto.CourseChapterDto">
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <collection property="classe" ofType="com.qht.dto.ClassDto">
            <result property="uid" column="uid"/>
            <result property="name" column="name"/>
            <result property="video_file" column="video_file"/>
            <result property="begin" column="begin"/>
        </collection>
    </resultMap>
    <!--课程详情-课程包体系-->
    <select id="selectCourseChapter" resultMap="selectCourseChapterAndClass">
        select
          c.uid,
          c.name,
          p.uid,
          p.name,
          p.video_file,
          p.begin
        from
          chapter c inner join period p on c.uid=p.chapter_id
        where c.course_id=#{uid} and c.tenant_id=#{tenantId}
    </select>
    <!--课程详情-课程包评论-->
    <select id="selectCourseEvaluation" resultType="com.qht.dto.CourseEvaluationDto">
        select
          s.head,
          s.name,
          pe.uid,
          pe.comments_time,
          cp.pkg_name,
          pe.comments_star,
          pe.comments_content
        from
           period_evaluation pe inner join student s on s.uid=pe.student_id
           inner join course_pkg cp on pe.course_id=cp.uid
        where pe.course_id=#{uid} and s.tenant_id=#{tenantId}
    </select>

    <resultMap id="selectTeacherInfoAndCourse" type="com.qht.dto.TeacherInfoDto">
        <result property="uid" column="uid"/>
        <result property="integral" column="integral"/>
        <result property="back_img" column="back_img"/>
        <result property="nickname" column="nickname"/>
        <result property="school_name" column="school_name"/>
        <result property="subject_name" column="subject_name"/>
        <collection property="course" ofType="com.qht.dto.CourseDto">
            <result property="pkg_name" column="pkg_name"/>
        </collection>
    </resultMap>

    <!--课程详情-教师信息-->
    <select id="selectTeacherInfo" resultMap="selectTeacherInfoAndCourse">
        select
          t.uid,
          t.integral,
          t.nickname,
          t.back_img,
          s.school_name,
          ps.name as subject_name,
          cp.pkg_name
        from
          teacher t
          inner join course_pkg cp on t.uid=cp.teacher_id
          inner join pkg_subject ps on ps.uid=cp.pkg_subject_id
          inner join school s on t.school_id=s.uid
        where t.tenant_id=#{tenantId} and cp.uid=#{uid}
    </select>

    <!--课程列表-->
    <select id="selectCourseList" resultType="com.qht.dto.CourseListDto" parameterType="com.qht.dto.CourseListParameter">
        select
            cp.cover,
            cp.uid,
            cp.pkg_name,
            cp.total_price,
            t.nickname,
            p.begin
        from course_pkg cp
        inner join chapter c on cp.uid=c.course_id
        inner join period p on p.chapter_id=c.uid
        inner join teacher t on t.uid=cp.teacher_id
        where 1=1 and cp.tenant_id=#{tenantId}
          <if test="pkt_type_id!=null and pkt_type_id!=''">
              and cp.pkt_type_id=#{pkt_tyepe_id}
          </if>
          <if test="pkg_subject_id!=null and pkg_subject_id!=''">
              and cp.pkg_subject_id=#{pkg_subject_id}
          </if>
          <if test="pkg_grade_id!=null and pkg_grade_id!=''">
              and cp.pkg_grade_id=#{pkg_grade_id}
          </if>
          <if test="play_type_id!=null and play_type_id!=''">
              and cp.play_type_id='play_type_id'
          </if>
          <if test="course_type_id!=null and course_type_id!=''">
              and cp.course_type_id='course_type_id'
          </if>
        <if test="newtime!=null and newtime!=''">
          <if test="newtime=='1'">
              order by p.begin asc
          </if>
          <if test="newtime=='2'">
              order by p.begin desc
          </if>
        </if>
        <if test="price!=null and price!=''">
          <if test="price=='1'">
              order by cp.total_price desc
          </if>
          <if test="price=='2'">
              order by cp.total_price asc
          </if>
        </if>
    </select>


    <resultMap id="selectTopTeacherListAndTopTeacherCourse" type="com.qht.dto.TopTeacherListDto">
        <result property="uid" column="uid"/>
        <result property="intr" column="intr"/>
        <result property="integral" column="integral"/>
        <result property="back_img" column="back_img"/>
        <result property="nickname" column="nickname"/>
        <result property="school_name" column="school_name"/>
        <result property="subject_name" column="subject_name"/>
        <result property="grade_name" column="grade_name"/>
        <result property="course_count" column="course_count"/>
        <collection property="courses" ofType="com.qht.dto.TopCourseDto">
            <result property="pkg_name" column="pkg_name"/>
            <result property="cover" column="cover"/>
            <result property="begin" column="begin"/>
        </collection>
    </resultMap>
    <!--名师列表-->
    <select id="selectTopTeacherList" resultMap="selectTopTeacherListAndTopTeacherCourse" parameterType="com.qht.dto.TopTeacherListParameter">
        select
          a.uid,
          a.intr,
          a.back_img,
          a.nickname,
          a.integral,
          a.subject_name,
          a.grade_name,
          a.cover,
          a.pkg_name,
          a.begin,
          a.school_name,
          b.course_count
        from
			(select
			  t.uid,
			  t.intr,
			  t.back_img,
			  t.nickname,
			  t.integral,
			  ps.name as subject_name,
			  pg.name as grade_name,
			  cp.cover,
			  cp.pkg_name,
			  p.begin,
			  s.school_name
			from teacher t
			  inner join course_pkg cp on t.uid=cp.teacher_id
			  inner join pkg_subject ps on ps.uid=cp.pkg_subject_id
			  inner join school s on t.school_id=s.uid
			  inner join chapter ch on ch.course_id=cp.uid
			  inner join period p on p.chapter_id=ch.uid
			  inner join pkg_grade pg on pg.uid=cp.pkg_grade_id
			where
			  t.tenant_id=#{tenantId}
            <if test="pkg_subject_id!=null and pkg_subject_id!=''">
                and cp.pkg_subject_id=#{pkg_subject_id}
            </if>
            <if test="pkg_grade_id!=null and pkg_grade_id!=''">
                and cp.pkg_grade_id=#{pkg_grade_id}
            </if>
			<if test="newtime != null and newtime != ''">
                <if test="newtime=='1'">
                    order by p.begin asc
                </if>
                <if test="newtime=='2'">
                    order by p.begin desc
                </if>
            </if>
            <if test="integral != null and integral != ''">
                <if test="newtime=='1'">
                    order by t.integral asc
                </if>
                <if test="newtime=='2'">
                    order by t.integral desc
                </if>
            </if>
			) as a,
			(select
			  count(t.uid) as course_count
			from course_pkg cp
			  INNER JOIN teacher t on cp.teacher_id=t.uid
			where cp.tenant_id=#{tenantId})as b
    </select>

    <resultMap id="selectTopTeacherInfoAndCourse" type="com.qht.dto.TopTeacherInfoDto">
        <result property="uid" column="uid"/>
        <result property="integral" column="integral"/>
        <result property="back_img" column="back_img"/>
        <result property="nickname" column="nickname"/>
        <result property="school_name" column="school_name"/>
        <result property="subject_name" column="subject_name"/>
        <result property="intr" column="intr"/>
        <result property="create_time" column="create_time"/>
        <result property="praise_number" column="praise_number"/>
        <collection property="course" ofType="com.qht.dto.CourseDto">
            <result property="pkg_name" column="pkg_name"/>
        </collection>
    </resultMap>
    <!--名师详情-讲师简介-->
    <select id="selectTopTeacherInfo" resultMap="selectTeacherInfoAndCourse">
        select
          t.uid,
          t.integral,
          t.nickname,
          t.back_img,
          t.intr,
          t.create_time,
          t.praise_number,
          s.school_name,
          ps.name as subject_name,
          cp.pkg_name
        from
          teacher t
          inner join course_pkg cp on t.uid=cp.teacher_id
          inner join pkg_subject ps on ps.uid=t.subject_id
          inner join school s on t.school_id=s.uid
        where t.tenant_id=#{tenantId} and t.uid=#{uid}
    </select>

    <!--名师详情-全部课程-->
    <select id="selectTeacherCourse" resultType="com.qht.dto.TeacherCourseDto">
        select
          cp.cover,
          cp.uid,
          cp.pkg_name,
          cp.play_type_id,
          cp.pkt_type_id,
          cp.total_price,
          p.begin,
          t.nickname
        from course_pkg cp inner join teacher t on cp.teacher_id=t.uid
        inner join chapter c on cp.uid=c.course_id
        inner join period p on p.chapter_id=c.uid
        where cp.teacher_id=#{uid} and cp.tenant_id=#{tenantId}
    </select>
    <!--名师详情-评论列表-->
    <select id="selectTeacherEvaluation" resultType="com.qht.dto.TeacherEvaluationDto">
        select
          pe.uid,
          pe.comments_time,
          pe.comments_star,
          pe.comments_content,
          s.name,
          s.head,
          cp.pkg_name
        from period_evaluation pe
          inner join course_pkg cp on pe.course_id=cp.uid
          inner join student s on pe.student_id=s.uid
        where cp.teacher_id=#{uid} and cp.tenant_id=#{tenantId}
    </select>


    <!--运营商-学校介绍-->
    <select id="selectTenantSchool" resultType="com.qht.dto.TenantSchoolDto" parameterType="java.lang.String">
        select
          uid,intr,culture,school_name,banner
        from school where tenant_id=#{tenantId}
    </select>

    <!--运营商-画册-->
    <select id="selectTenantAlbum" parameterType="java.lang.String" resultType="com.qht.dto.TenantAlbumDto">
        select uid,album,index from album where tenant_id=#{tenantId}
    </select>

    <!--学生端-个人中心-首页-我的课程列表-->
    <select id="selectMyIndexCourse" resultType="com.qht.dto.MyIndexCourseDto" parameterType="com.qht.dto.MyIndexCourseParameter">
        select
          cp.pkg_name,c.name as chapter_name,p.name,p.video_file,p.begin
        from buy_record br
          left join course_pkg cp on br.course_pkg_id=cp.uid
          left join chapter c on cp.uid=c.course_id
          left join period p on c.uid=p.chapter_id
        where br.tenant_id=#{tenantId} and br.student_id=#{uid}
        <if test="course_type_id!=null and course_type_id!=''">
            and cp.course_type_id=#{course_type_id}
        </if>
        <if test="pkg_subject_id!=null and pkg_subject_id!=''">
            and cp.pkg_subject_id=#{pkg_subject_id}
        </if>
          and c.bgin like CONCAT(#{now_time},'%')
        <if test="play_type_id!=null and play_type_id!=''">
            and cp.play_type_id=#{play_type_id}
        </if>
    </select>

    <!--学生端-个人中心-首页-我的课程详情介绍-->
    <select id="selectIndexCourseDetails" resultType="com.qht.dto.IndexCourseDetailsDto">
        select uid,name,video_file,begin from period where tenant_id=#{tenantId} and uid=#{uid}
    </select>

  <!-- 消息-->
    <select id="selectMyIndexMessage"  resultType="com.qht.dto.MyIndexMessageDto">
      select  t.back_img as head,
				m.uid as uid,m.isread as isread,
				t.`name` as nickname,
				m.time as time,
				m.content as content
      FROM message m
							LEFT JOIN `user`  u  ON m.uid=u.uid
							LEFT JOIN teacher t  ON m.tenant_id=t.tenant_id
      where m.uid=#{uid} AND t.tenant_id=#{tid}
      <if test="isread!=null and isread!=''">
          and m.isread=#{isread}
      </if>
    </select>

    <!--删除消息-->
    <delete id="deleteMessage" parameterType="String">
        delete FROM message where uid=#{uid}
    </delete>
    <!--学生端-个人中心-首页-课程答疑-->
    <select id="selectMyIndexCourseAnswer" resultType="com.qht.dto.MyIndexCourseAnswerDto" parameterType="com.qht.dto.MyIndexCourseAnswerParameter">
        select
          an.answer_file_name,an.answer_time,an.answer,an.answer_file_url,an.uid,
          ask.question,ask.question_attach,ask.question_url,
          p.video_file,p.begin,p.name,
          c.name as chapter_name,
          cp.pkg_name,
          t.nickname as teacher_nickname,
          s.nickname
        from answer an left join course_ask ask on an.ask_id=ask.uid
          left join period p on an.period_id=p.uid
          left join chapter c on p.chapter_id=c.uid
          left join course_pkg cp on c.course_id=cp.uid
          left join teacher t on cp.teacher_id=t.uid
          left join student s on an.student_id=s.uid
        where an.student_id=#{uid} and an.tenant_id=#{tenantId}
        <if test="answer != '' and answer!=null">
            <if test="answer=='1'">
                and an.type=1
            </if>
            <if test="answer=='2'">
                and an.type=2
            </if>
        </if>
    </select>



    <select id="selectMessageById" parameterType="String">
      select * FROM message where uid=#{uid}
    </select>

    <!--学生端-个人中心-首页-兑换记录-->
    <select id="selectMyIndexBuyRecord" resultType="com.qht.dto.MyIndexBuyRecordDto" parameterType="com.qht.dto.MyIndexBuyRecordParameter">
        select cp.cover,cp.uid,cp.pkg_name,cp.pkt_type_id,cp.total_price,t.nickname,p.begin from buy_record br
          left join course_pkg cp on br.course_pkg_id=cp.uid
          left join teacher t on cp.teacher_id=t.uid
          left join chapter c on cp.uid=c.course_id
          left join period p on c.uid=p.chapter_id
        where br.student_id=#{uid}
          and br.tenant_id=#{tenantId}
          <if test="pkg_subject_id!=null and pkg_subject_id!==''">
              and cp.pkg_subject_id=#{pkg_subject_id}
          </if>
          <if test="play_type_id !='' and play_type_id != null">
            and cp.play_type_id=#{play_type_id}
          </if>
        <if test="pkt_type_id != null and pkt_type_id != ''">
          and cp.pkt_type_id=#{pkt_type_id}
        </if>
    </select>





</mapper>
