<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.StudentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Student"  id="studentMap">       
        <id column="uid" jdbcType="VARCHAR" property="uid" />
        <result property="tenantId" column="tenant_id"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="head" column="head"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="school" column="school_id"/>
        <result property="clazz" column="clazz"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>

    <!--登陆查询学生信息-->
    <select id="studentLogin" resultType="com.qht.dto.StudentDto">
        select uid,nickname,tenant_id as tenantId,school_id as schoolId,`name`,`account` from student where account=#{account} and password=#{password}
    </select>
    
    <!--查询banner-->
    <select id="selectBanner" resultType="com.qht.model.BannerModel">
        select uid,image,link,sort from banner where tenant_Id=#{tenant_id} and type=#{type}
    </select>

    <!--课程详情课程包评论-->
    <select id="selectCourseEvaluation" resultType="com.qht.model.CourseEvaluationModel" parameterType="com.qht.model.CourseEvaluationParam">
        select
          s.head,
          s.name,
          pe.uid,
          pe.comments_time,
          cp.pkg_name,
          pe.comments_star,
          pe.comments_content
        from
           period_evaluation pe inner join student s on s.uid=pe.student_id
           inner join course_pkg cp on pe.course_id=cp.uid
        where pe.course_id=#{uid} and s.tenant_id=#{tenant_id} and cp.status="1"
    </select>

    <!--课程详情课程包评论good-->
    <select id="selectCourseEvaluationGood" resultType="com.qht.model.CourseEvaluationModel" parameterType="com.qht.model.CourseEvaluationParam">
        select
        s.head,
        s.name,
        pe.uid,
        pe.comments_time,
        cp.pkg_name,
        pe.comments_star,
        pe.comments_content
        from
        period_evaluation pe inner join student s on s.uid=pe.student_id
        inner join course_pkg cp on pe.course_id=cp.uid
        where pe.course_id=#{uid} and s.tenant_id=#{tenant_id} and cp.status="1" and pe.comments_star &gt;4
    </select>

    <!--课程详情课程包评论mid-->
    <select id="selectCourseEvaluationMid" resultType="com.qht.model.CourseEvaluationModel" parameterType="com.qht.model.CourseEvaluationParam">
        select
        s.head,
        s.name,
        pe.uid,
        pe.comments_time,
        cp.pkg_name,
        pe.comments_star,
        pe.comments_content
        from
        period_evaluation pe inner join student s on s.uid=pe.student_id
        inner join course_pkg cp on pe.course_id=cp.uid
        where pe.course_id=#{uid} and s.tenant_id=#{tenant_id}
        and cp.status="1"
        and pe.comments_star &lt;=4 and pe.comments_star &gt;=2
    </select>

    <!--课程详情课程包评论bad-->
    <select id="selectCourseEvaluationBad" resultType="com.qht.model.CourseEvaluationModel" parameterType="com.qht.model.CourseEvaluationParam">
        select
        s.head,
        s.name,
        pe.uid,
        pe.comments_time,
        cp.pkg_name,
        pe.comments_star,
        pe.comments_content
        from
        period_evaluation pe inner join student s on s.uid=pe.student_id
        inner join course_pkg cp on pe.course_id=cp.uid
        where pe.course_id=#{uid} and s.tenant_id=#{tenant_id} and cp.status="1" and pe.comments_star &lt;2
    </select>




    <!--名师详情评论列表-->
    <select id="selectTeacherEvaluation" resultType="com.qht.model.TeacherEvaluationModel">
        select
          pe.uid,
          pe.comments_time,
          pe.comments_star,
          pe.comments_content,
          s.name,
          s.head,
          cp.pkg_name
        from period_evaluation pe
          inner join course_pkg cp on pe.course_id=cp.uid
          inner join student s on pe.student_id=s.uid
        where cp.teacher_id=#{uid} and cp.tenant_id=#{tenant_id} and cp.status="1"
    </select>

    <resultMap id="studentInfoMap" type="com.qht.model.StudentInfoModel">
        <id column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="head" property="head"/>
        <result column="integral" property="integral"/>
        <result column="sex" property="sex"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="school_name" property="school_name"/>
        <result column="clazz" property="clazz"/>
        <result column="grade_name" property="grade_name"/>
        <result column="age" property="age"/>
        <collection property="gua" ofType="com.qht.model.GuardianModel">
            <id column="gid" property="gid"/>
            <result column="call" property="call"/>
            <result column="phone" property="phone"/>
        </collection>
    </resultMap>
    
     <!-- 学生信息-->
    <select id="studentInfo" resultMap="studentInfoMap">
SELECT
	s.uid as uid ,
	s.head as head,
	s.sex as sex,
	s.`name` as `name`,
	s.nickname as nickname,
	sc.school_name as school_name,
	s.clazz as clazz,
	p.`name` as grade_name,
	s.age as age,
	s.integral,
	g.uid as gid,
	g.`call` as `call`,
	g.phone  as phone
FROM
	student s
inner JOIN school sc ON s.school_id = sc.uid
inner JOIN guardian g ON s.uid = g.student_id
inner JOIN pkg_grade p ON s.grade_id = p.uid
WHERE
	s.uid = #{uid} AND s.tenant_id =#{tenant_id}
    </select>


    <!--取消收藏-->
    <update id="updateMyIndexCancelcollect" parameterType="com.qht.model.MyIndexCanceCollectParam">
        update collect set is_collect=2 where uid=#{uid} and student_id=#{student_id} and tenant_id=#{tenant_id}
    </update>

    <!--打赏-先判断问题是否被解决-->
    <select id="selectAnswerType" parameterType="java.lang.String" resultType="java.lang.Integer">
        select type from answer where uid=#{answer_id}
    </select>

    <!--打赏判断学生余额-->
    <select id="selectStudentBalance" parameterType="java.lang.String" resultType="java.lang.Integer">
        select balance from student where uid=#{student_id}
    </select>
    <!--判断学生是否已经打赏-->
    <select id="selectAnswerReward" parameterType="java.lang.String" resultType="java.lang.Integer">
        select is_exceptional from answer where uid=#{answer_id}
    </select>
    <!--打赏扣除学生积分-->
    <update id="updateStudentBalanceByUid">
        update student set balance=balance-#{value} where uid=#{student_id}
    </update>
    <!--增加老师积分-->
    <update id="uodateTeacherBalanceByUid">
        update teacher set balance=balance+#{value} where uid=#{teacher_id}
    </update>
    <insert id="insertStudentRecord">
        insert into integrallist(uid,name,value,type,student_id,teacher_id) value(#{uid},"学生积分打赏",#{value},2)
    </insert>
    <insert id="insertTeacherRecord">
        insert into integrallist(uid,name,value,type,teacher_id) value(#{uid},"老师收到打赏",#{value},1,#{teacher_id})
    </insert>

    <!--编辑个人信息-->
    <select id="appMyStudentInfo" resultType="com.qht.model.AppMyStudentInfoModel">
SELECT
	s.head AS head,
	s.uid AS uid,
	s.integral AS integral,
	s.`name` AS NAME,
	s.sex AS sex,
	s.nickname AS nickname,
	sl.school_name AS school_name,
	g.phone AS phone,
	pg.`name` AS grade_name
FROM
	student s
inner JOIN school sl ON s.school_id = sl.uid
inner JOIN guardian g ON s.uid = g.student_id
inner JOIN pkg_grade pg ON s.grade_id = pg.uid
WHERE
	g.type = 1
AND s.uid = #{uid}
and s.tenant_id=#{tenant_id}
    </select>
    <!--修改头像-->
    <update id="appUpdaetStudentHead" parameterType="com.qht.model.AppStudentParam">
      update student set head=#{head} where uid=#{uid} and  tenant_id=#{tenant_id}
    </update>
    <!--修改昵称-->
    <update id="appUpdaetStudentNickname" parameterType="com.qht.model.AppStudentParam">
      update student set nickname=#{nickname} where uid=#{uid} and  tenant_id=#{tenant_id}
    </update>
    <!--修改密码-->
    <update id="appUpdaetStudentPassword" parameterType="com.qht.model.AppStudentParam">
      update student set password=#{password} where uid=#{uid} and  tenant_id=#{tenant_id}
    </update>
    <!--app查看学生监护人-->
    <select id="appMyStudentGuardian" resultType="com.qht.model.AppMyStudentGuardianModel" parameterType="com.qht.model.AppStudentParam">
       SELECT
	g.`call` AS `call`,
	g.uid AS uid,
	g.phone AS phone,
	g.type AS type
    FROM
        student s
    inner JOIN guardian g ON s.uid = g.student_id
    </select>
    
</mapper>
