<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.TeacherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Teacher" id="teacherMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="schoolId" column="school_id"/>
        <result property="nickname" column="nickname"/>
        <result property="head" column="head"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>       
        <result property="clazz" column="clazz"/>
        <result property="mobile" column="mobile"/>
        <result property="cert" column="cert"/>
        <result property="identityFace" column="identity_face"/>
        <result property="identityBack" column="identity_back"/>
        <result property="identityNum" column="identity_num"/>
        <result property="intr" column="intr"/>
        <result property="recommend" column="recommend"/>
        <result property="integral" column="integral"/>
        <result property="amount" column="amount"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>
    
    <!--登陆查询学生信息-->
    <select id="teacherLogin" resultType="com.qht.dto.TeacherDto">
        SELECT
	uid,
	nickname,
	tenant_id AS tenant_id,
	school_id AS schoolId,
	`name`,
	`account`
FROM
	teacher
WHERE
	account = #{account} and password=#{password}
    </select>
    <!--名师详细基本信息-->
    <select id="teacherDetails" resultType="com.qht.model.TeacherDetailsModel">
        SELECT
	t.uid AS uid,
	t.intr as intr,
	AVG(l.comments_star) AS integral,
	sc.school_name as school_name,
	ps.`name`  as subject_name,
	t.nickname AS nickname,
	t.back_img AS back_img,
	t.praise_number AS praise_number
FROM
	teacher t
LEFT JOIN pkg_subject p ON t.subject_id = p.uid
LEFT JOIN lecturer_evaluation l ON t.uid = l.teacher_id
LEFT JOIN school sc   on t.school_id=sc.uid
LEFT JOIN pkg_subject ps ON t.subject_id=ps.uid
where t.uid=#{uid} and t.tenant_id=#{tid}
GROUP BY t.uid

    </select>
    <!--名师详细所有课程包-->
    <select id="appTeacherCourseDto" resultType="com.qht.model.AppTeacherCourseModel">
 SELECT
	c.cover as cover ,
	c.uid as uid,
	c.pkg_name as pkg_name,
	c.apply_number as apply_number,
	AVG( p.comments_star) as comments_star,
	SUM(p.praise_number) as praise_number,
	c.total_price,
	c.play_type_id
FROM
	course_pkg c
left JOIN period_evaluation p ON c.uid=p.course_id
left JOIN teacher t  on c.teacher_id=t.uid
where t.uid=#{uid} and t.tenant_id=#{tid} and c.status="1"
GROUP BY c.uid

    </select>

    <select id="teacherEvaluation" resultType="com.qht.model.AppTeacherEvaluationModel" >
      SELECT
	s.head as head,
	l.uid as uid,
	l.comments_star,
	s.`name` as name,
	pd.`name` as period_name,
	l.time as time ,
	l.content as content
FROM
	student s
LEFT JOIN lecturer_evaluation l ON s.uid = l.student_id
LEFT JOIN teacher t ON l.teacher_id = t.uid
LEFT JOIN period_evaluation pev ON t.uid = pev.student_id
LEFT JOIN period pd ON pev.period_id = pd.uid
where t.uid=#{uid} and t.tenant_id=#{tid}
        
            <if test="eval==1">
          and  l.comments_star &lt;4
            </if>
            <if test="eval==2">
                and  l.comments_star &gt;=4 and l.comments_star &lt;8
            </if>
            <if test="eval==3">
                and  l.comments_star &gt;=8
            </if>
     
    </select>

    <!-- app教室个人中心 -->
	<select id="selectTeacherByid" resultType="com.qht.model.AppSelectTeacherByidModel" parameterType="com.qht.model.UidAndTenantIDParam">
		SELECT
		t.uid as uid,
		t.sex as sex,
		t.mobile as mobile,
		t.nickname as nickname,
		t.`name` as name,
		pt.`name` as subject_name,
		s.school_name as school_name,
		t.back_img as back_img
	FROM
		teacher t
	LEFT JOIN pkg_subject pt ON  t.subject_id=pt.uid
	LEFT JOIN school s on t.school_id=s.uid
	where t.uid=#{uid}
		and t.tenant_id=#{tenant_id}
	
	</select>

	<!--查询老师信息-->
	<select id="selectTeacherInfo1" parameterType="com.qht.model.UidAndTenantIDParam" resultType="com.qht.model.PCTeacherInfoModel">
		select  t.sex,t.cert,t.uid,t.intr,t.mobile as phone,t.identity_back,t.name,t.nickname,
		t.back_img,t.age,t.identity_face,s.school_name,ps.name as subject_name from teacher t left join school s on t.school_id=s.uid
		left join pkg_subject ps on ps.uid=t.subject_id
	</select>

	<!--查询首页老师排行榜-->
	<select id="selectTeacherRanking" resultType="com.qht.model.TeacherRankingModel" parameterType="java.lang.String">
        select
          s.school_name,
          t.nickname,
          t.uid
        from
          teacher t inner join school s
        on
          t.school_id=s.uid
        where t.tenant_id=#{tenant_id}
        order by t.praise_number desc
        limit 0,10
    </select>

	<!--查询首页老师集合-->
	<select id="selectTeacherList" resultType="com.qht.model.TeacherListModel" parameterType="com.qht.model.TeacherListParam">
		select
		a.uid,a.intr,a.integral,a.sex,a.nickname,a.back_img,a.school_name,b.pkg_count
		from
		( select
		t.intr,t.integral,t.sex,t.nickname,t.back_img,s.school_name,t.uid
		from teacher t inner join school s on t.school_id=s.uid
		where t.tenant_id=#{tenant_id}
		<if test="school_id!=null and school_id!=''">
			and s.uid=#{school_id}
		</if>
		order by t.praise_number desc
		<if test="limit!=null and limit!=''">
			limit 0,${limit}
		</if>
		)as a ,
		( select count(course_pkg.uid) as pkg_count from course_pkg where tenant_id=#{tenant_id} and status="1" )as b
	</select>
	<resultMap id="selectTeacherInfoAndCourse" type="com.qht.model.TeacherInfoModel">
		<id column="uid" jdbcType="VARCHAR" property="uid" />
		<result property="integral" column="integral"/>
		<result property="back_img" column="back_img"/>
		<result property="nickname" column="nickname"/>
		<result property="school_name" column="school_name"/>
		<result property="subject_name" column="subject_name"/>

		<collection property="course" ofType="com.qht.model.CourseModel">
			<result property="pkg_name" column="pkg_name"/>
		</collection>
	</resultMap>
	<!--课程详情教师信息-->
	<select id="selectTeacherInfo2" resultMap="selectTeacherInfoAndCourse">
        select
          t.uid,
          t.integral,
          t.nickname,
          t.back_img,
          s.school_name,
          ps.name as subject_name,
          cp.pkg_name
        from
          teacher t
          inner join course_pkg cp on t.uid=cp.teacher_id
          inner join pkg_subject ps on ps.uid=cp.pkg_subject_id
          inner join school s on t.school_id=s.uid
        where t.tenant_id=#{tenant_id} and cp.uid=#{uid} and cp.status="1"
    </select>

	<resultMap id="selectTopTeacherInfoAndCourse" type="com.qht.model.TopTeacherInfoModel">
		<id column="uid" jdbcType="VARCHAR" property="uid" />
		<result property="integral" column="integral"/>
		<result property="back_img" column="back_img"/>
		<result property="nickname" column="nickname"/>
		<result property="school_name" column="school_name"/>
		<result property="subject_name" column="subject_name"/>
		<result property="intr" column="intr"/>
		<result property="create_time" column="create_time"/>
		<result property="praise_number" column="praise_number"/>

		<collection property="course" ofType="com.qht.model.CourseModel">
			<result property="pkg_name" column="pkg_name"/>
		</collection>
	</resultMap>

	<!--名师详情讲师简介-->
	<select id="selectTopTeacherInfo" resultMap="selectTopTeacherInfoAndCourse">
        select
          t.uid,
          t.integral,
          t.nickname,
          t.back_img,
          t.intr,
          t.create_time,
          t.praise_number,
          s.school_name,
          ps.name as subject_name,
          cp.pkg_name
        from
          teacher t
          inner join course_pkg cp on t.uid=cp.teacher_id
          inner join pkg_subject ps on ps.uid=t.subject_id
          inner join school s on t.school_id=s.uid
        where t.tenant_id=#{tenant_id} and t.uid=#{uid} and cp.status="1"
    </select>

	<!--名师资源-->
	<select id="indexTeacher" resultType="com.qht.model.IndexTeacherModel" parameterType="java.lang.String">
        SELECT
	t.uid,
	t.nickname,
	p.`name`,
	s.school_name,
	t.back_img
FROM
	teacher t
inner JOIN pkg_subject p ON t.subject_id = p.uid
inner JOIN school s ON t.school_id = s.uid
WHERE
	t.tenant_id = #{tenant_id}
    </select>

	<!--名师资源列表-->
	<select id="indexTeacherList" resultType="com.qht.model.IndexTeacherListModel" parameterType="com.qht.model.IndexTeacherListParam">
		SELECT
		t.uid as uid,
		t.nickname as nickname,
		t.back_img as back_img,
		p.`name` as name,
		t.praise_number as praise_number,
		AVG( l.comments_star) as integral,
		COUNT(p.uid) AS course_count
		FROM
		teacher t
		inner JOIN pkg_subject p ON t.subject_id = p.uid
		inner JOIN course_pkg cp ON t.uid = cp.teacher_id
		inner JOIN lecturer_evaluation l ON t.uid=l.teacher_id

		WHERE
		t.tenant_id =#{tenant_id} and cp.status="1"
		<if test="pkg_grade_id!=null and pkg_grade_id!=''">
			AND cp.pkg_grade_id=#{pkg_grade_id}
		</if>
		<if test="pkg_grade_id!=null and pkg_grade_id!=''">
			and t.subject_id=#{subject_id}
		</if>
		<if test="pkg_grade_id!=null and pkg_grade_id!=''">
			and t.praise_number &gt;=#{praise_number}
		</if>
		GROUP BY t.uid
	</select>
	<resultMap id="selectTopTeacherListAndTopTeacherCourse" type="com.qht.model.TopTeacherListModel">
		<id column="uid" jdbcType="VARCHAR" property="uid" />
		<result property="intr" column="intr"/>
		<result property="integral" column="integral"/>
		<result property="back_img" column="back_img"/>
		<result property="nickname" column="nickname"/>
		<result property="school_name" column="school_name"/>
		<result property="subject_name" column="subject_name"/>
		<result property="grade_name" column="grade_name"/>
		<result property="course_count" column="course_count"/>

		<collection property="courses" ofType="com.qht.model.TopCourseModel">
			<result property="pkg_name" column="pkg_name"/>
			<result property="cover" column="cover"/>
			<result property="begin" column="begin"/>
		</collection>
	</resultMap>
	<!--名师列表-->
	<select id="selectTopTeacherList" resultMap="selectTopTeacherListAndTopTeacherCourse" parameterType="com.qht.model.TopTeacherListParam">
		select
		a.uid,
		a.intr,
		a.back_img,
		a.nickname,
		a.integral,
		a.subject_name,
		a.grade_name,
		a.cover,
		a.pkg_name,
		a.begin,
		a.school_name,
		b.course_count
		from
		(select
		t.uid,
		t.intr,
		t.back_img,
		t.nickname,
		t.integral,
		ps.name as subject_name,
		pg.name as grade_name,
		cp.cover,
		cp.pkg_name,
		p.begin,
		s.school_name
		from teacher t
		inner join course_pkg cp on t.uid=cp.teacher_id
		inner join pkg_subject ps on ps.uid=cp.pkg_subject_id
		inner join school s on t.school_id=s.uid
		inner join chapter ch on ch.course_id=cp.uid
		inner join period p on p.chapter_id=ch.uid
		inner join pkg_grade pg on pg.uid=cp.pkg_grade_id
		where
		t.tenant_id=#{tenant_id} and cp.status="1"
		<if test="pkg_subject_id !=null and pkg_subject_id !=''">
			and cp.pkg_subject_id=#{pkg_subject_id}
		</if>
		<if test="pkg_grade_id!=null and pkg_grade_id!=''">
			and cp.pkg_grade_id=#{pkg_grade_id}
		</if>
		<if test="newtime != null and newtime != ''">
			<if test="newtime=='1'">
				order by p.begin asc
			</if>
			<if test="newtime=='2'">
				order by p.begin desc
			</if>
		</if>
		<if test="integral != null and integral != ''">
			<if test="newtime=='1'">
				order by t.integral asc
			</if>
			<if test="newtime=='2'">
				order by t.integral desc
			</if>
		</if>
		) as a,
		(select
		count(t.uid) as course_count
		from course_pkg cp
		INNER JOIN teacher t on cp.teacher_id=t.uid
		where cp.tenant_id=#{tenant_id} and cp.status="1" ) as b
	</select>
</mapper>