<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qht.mapper.TeacherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qht.entity.Teacher" id="teacherMap">
        <result property="uid" column="uid"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="schoolId" column="school_id"/>
        <result property="nickname" column="nickname"/>
        <result property="head" column="head"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>       
        <result property="clazz" column="clazz"/>
        <result property="mobile" column="mobile"/>
        <result property="cert" column="cert"/>
        <result property="identityFace" column="identity_face"/>
        <result property="identityBack" column="identity_back"/>
        <result property="identityNum" column="identity_num"/>
        <result property="intr" column="intr"/>
        <result property="recommend" column="recommend"/>
        <result property="integral" column="integral"/>
        <result property="amount" column="amount"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>
    
    <!--登陆查询学生信息-->
    <select id="teacherLogin" resultType="com.qht.dto.TeacherDto">
        SELECT
	uid,
	nickname,
	tenant_id AS tenant_id,
	school_id AS schoolId,
	`name`,
	`account`
FROM
	teacher
WHERE
	account = #{account} and password=#{password}
    </select>
    <!--名师详细-基本信息-->
    <select id="teacherDetails" resultType="com.qht.dto.TeacherDetailsDto">
        SELECT
	t.uid AS uid,
	t.intr as intr,
	AVG(l.comments_star) AS integral,
	sc.school_name as school_name,
	ps.`name`  as subject_name,
	t.nickname AS nickname,
	t.back_img AS back_img,
	t.praise_number AS praise_number
FROM
	teacher t
LEFT JOIN pkg_subject p ON t.subject_id = p.uid
LEFT JOIN lecturer_evaluation l ON t.uid = l.teacher_id
LEFT JOIN school sc   on t.school_id=sc.uid
LEFT JOIN pkg_subject ps ON t.subject_id=ps.uid
where t.uid=#{uid} and t.tenant_id=#{tid}
GROUP BY t.uid

    </select>
    <!--名师详细-所有课程包-->
    <select id="teacherCourse" resultType="com.qht.dto.AppTeacherCourseDto">
 SELECT
	c.cover as cover ,
	c.uid as uid,
	c.pkg_name as pkg_name,
	c.apply_number as apply_number,
AVG( p.comments_star) as comments_star,
	SUM(p.praise_number) as praise_number,
	c.total_price
FROM
	course_pkg c
LEFT JOIN period_evaluation p ON c.uid=p.course_id
where t.uid=#{uid} and t.tenant_id=#{tid} and c.type='1'
GROUP BY c.uid

    </select>

    <select id="teacherEvaluation" resultType="com.qht.dto.AppTeacherEvaluationDto">
      SELECT
	s.head as head,
	l.uid as uid,
	l.comments_star,
	s.`name` as name,
	pd.`name` as period_name,
	l.time as time ,
	l.content as content
FROM
	student s
LEFT JOIN lecturer_evaluation l ON s.uid = l.student_id
LEFT JOIN teacher t ON l.teacher_id = t.uid
LEFT JOIN period_evaluation pev ON t.uid = pev.student_id
LEFT JOIN period pd ON pev.period_id = pd.uid
where t.uid=#{uid} and t.tenant_id=#{tid}
        <if test="eval!=null and eval!=''">
            <if test="eval=1">
          and  l.comments_star &lt;=4
            </if>
            <if test="eval=2">
                and  l.comments_star &gt;4 and l.comments_star&lt;=8
            </if>
            <if test="eval=3">
                and  l.comments_star &gt;8
            </if>
        </if>
    </select>
</mapper>